* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	overflow-x: hidden;
}
:root {
	--main-color: gold;
	--second-color: #a2ca28;
	--third-color: #fd634e;
	--wrapper: 1180px;
	font-size: 14px;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
header {
	max-width: 100vw;
	height: 100vh;
	background: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#logo {
	margin-left: 2vw;
}
nav {
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7vh 3vw;
}
li {
	display: inline-block;
}
li a {
	color: var(--main-color);
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 4vw;
	font-weight: 600;
}
li a:hover {
	color: var(--third-color);
}
#can {
	position: absolute;
	bottom: 15%;
	left: 5%;
	color: var(--main-color);
	text-transform: uppercase;
}
#can1 {
	font-size: 2.5rem;
}
#can1 strong {
	color: var(--second-color);
}
#can2 strong {
	color: var(--third-color);
}
#can2 {
	text-align: right;
	padding-right: 3vw;
}
#red {
	background-color: var(--third-color);
	width: 100%;
	height: 12vh;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
}
#cards {
	width: 100%;
	background-color: var(--second-color);
	min-height: 470px;
	padding: 100px 0;
}
#cards_wrap {
	max-width: var(--wrapper);
	margin: 0 auto;
	color: var(--main-color);
	display: flex;
}
#cards_wrap article {
	width: 23%;
	margin: 0 1%;
}
article h3 {
	font-size: 1.72rem;
	font-weight: 400;
	margin: 20px 0;
}
.card_logo {
	height: 45px;
}
.card_text {
	height: 275px;
}
article a {
	text-decoration: none;
	color: var(--main-color);
}
article a:hover {
	color: var(--third-color);
	opacity: 0.7;
	font-weight: 800;
}
#green_blocks {
	width: 100%;
	background-color: var(--second-color);
	height: 800px;
}
.block_wrap {
	max-width: var(--wrapper);
	width: 100%;
	margin: 0 auto;
	background-color: var(--main-color);
	display: flex;
	flex-wrap: wrap;
}
.block13 {
	width: 34%;
	height: 400px;
	text-align: center;
	line-height: 26px;
}
.green {
	padding: 4%;
}
.block23 {
	height: 400px;
	width: 66%;
}
article h4 {
	color: var(--third-color);
	text-transform: uppercase;
}
article h2 {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 200;
	color: var(--second-color);
	margin-bottom: 8%;
}
.drop {
	margin: 3% 0;
}
.block13 a {
	color: var(--second-color);
	text-decoration: underline;
}
#yoga {
	background: url(../img/yoga.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#watch {
	background: url(../img/apple-watch.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.pictext {
	color: var(--main-color);
	font-size: 0.858rem;
}
.pictext b {
	color: var(--third-color);
	font-weight: 600;
}
.pictext img {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}
#yoga p {
	position: relative;
	top: 80%;
	left: 78%;
}
#watch p {
	position: relative;
	top: 80%;
	left: 10%;
}
#red_blocks {
	width: 100%;
	background-color: var(--third-color);
}
#jog {
	background: url(../img/jogging.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#beach {
	background: url(../img/beach.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#grape {
	background: url(../img/self-involved.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#mango {
	background: url(../img/eating-habits.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
#beachtext {
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 8%;
	color: var(--main-color);
	text-transform: uppercase;
	font-weight: 600;
}
[class^="icon-"] {
	font-family: 'icomoon';
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
}
.icon-tag:before {
	content: "\e904";
}
i {
	padding-left: 15px;
}
#shadow_greeny, #greeny, #shadow_greeny h2, #greeny h2, #shadow_greeny h4, #greeny h4 {
	background-color: var(--second-color);
	color: var(--main-color);
}
#shadow_greeny {
	box-shadow: -15px 0 30px lightgrey;
}
.icon-user:before {
	content: "\e90b";
	font-size: 2rem;
	color: lightgrey;
	position: relative;
	left: 90%;
	bottom: 74%;
}
#slogan {
	width: 100vw;
	height: 90vh;
	background: url(../img/footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-top: 15%;
	color: var(--main-color);
}
#slogan h1 {
	font-size: 3.3rem;
	font-weight: 400;
	padding-bottom: 2%;
}
#slogan p {
	width: 25vw;
	margin: 0 auto;
	font-size: 1.1rem;
}
#left, #right {
	width: 100%;
	height: 100%;
	background-color: #080B11;
	position: absolute;
}
#left {
	transform: skewY(6deg);
}
#right {
	transform: skewY(-12deg);
}
footer {
	background-color: #080B11;
	position: relative;
	overflow: hidden;
}
#redline {
	width: 75%;
	height: 3vh;
	background-color: var(--third-color);
	position: relative;
	margin: 5% 0;
	clip-path: polygon(0 0, 2% 0, 100% 100%, 0 100%);
}
#info {
	position: relative;
	width: var(--wrapper);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#info h5 {
	color: var(--main-color);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 3vh;
}
#resources, #social {
	width: 25%;
}
#about {
	width: 42%;
}
#info p {
	color: #55636E;
	opacity: 0.7;
	font-weight: 600;
}
.round {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	text-align: center;
}
#social_links {
	display: flex;
	justify-content: space-between;
}
.icon-face:before {
	content: "\e907";
}
.icon-twee:before {
	content: "\e906";
}
.icon-tube:before {
	content: "\e905";
}
.icon-linkedin:before {
	content: "\e908";
}
#social_links i {
	color: var(--main-color);
	font-size: 1.5rem;
	line-height: 4rem;
	padding-left: 0;
}
form {
	width: 100%;
	margin: 4vh 0;
	display: flex;
	justify-content: flex-end;
}
input {
	height: 50px;
	color: grey;
	padding-left: 20px;
	margin-right: 10px;
	width: 25%;
	border-radius: 4px;
	border: none;
}
button {
	height: 50px;
	color: var(--main-color);
	background-color: var(--second-color);
	border-radius: 4px;
	border: none;
	width: 15%;
	font-weight: 600;
}
.icon-circle:before {
	content: "\e903";
}
@media (min-width: 650px) and (max-width: 925px) {
	#cards_wrap {
		flex-direction: column;
		align-items: center;
	}
	#cards_wrap article {
		width: 75%;
		border-bottom: 2px dashed white;
		margin-bottom: 10px;
		text-align: center;
	}
	.card_text {
		height: auto;
	}
	.card_text + a {
		margin: 20px 0;
		display: block;
	}
	#cards_wrap p {
		text-align: left;
	}
	#yoga p {
		left: 70%;
	}
	#slogan p {
		width: 50%;
	}
	#info {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	#resources, #about, #social {
		width: 75%;
		margin-bottom: 20px; 
	}
	form {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 20vh;
	}
	input {
		width: 75%;
	}
	button {
		width: 45%;
	}
}
